<nav class=ribbon>
    <a id=filme class=button href=filme>Filme</a><a id=muzica class=button href=muzica>Muzică</a><a id=partajare class=button href=partajare>Partajare</a><a class="button login" href=login>Login</a>
</nav>