// NodeJS Server Port
export const PORT = '1234';
// Cookie Secret string
export const COOKIE_SECRET = 'AVeryLongStringThatNooneCanGuess';

// Email provider (eg. Gmail/Yahoo etc.)
export const EMAIL_SERVICE = 'My Email Provider';
// Email login username
export const EMAIL_USERNAME = 'username@domain.com';
// Email login password
export const EMAIL_PASSWORD = 'MyPassword';
// Email contact address
export const EMAIL_REPLYTO = 'contact@domain.com';

// Origin
export const ORIGIN = 'https://domain.com';
