// NodeJS Server Port
export const PORT = 1234;

// Configuration for PostgreSQL connector
export const PG_CONFIG = {
  host: 'DatabaseHostname',
  user: 'MyUsername',
  password: 'MyPassword',
  database: 'MyDatabaseName',
  max: 50,
};
// Configuration for Redis connector
export const REDIS_CONFIG = {
  host: 'RedisHostname',
  port: 4321,
  enableOfflineQueue: false,
};

// Cookie Secret string
export const COOKIE_SECRET = 'AVeryLongStringThatNooneCanGuess';

// Email provider (eg. Gmail/Yahoo etc.)
export const EMAIL_SERVICE = 'My Email Provider';
// Email login username
export const EMAIL_USERNAME = 'username@domain.com';
// Email login password
export const EMAIL_PASSWORD = 'MyPassword';
// Email contact address
export const EMAIL_REPLYTO = 'contact@domain.com';

// Origin URL
export const ORIGIN = 'https://domain.com';
// WebSocket URL
export const WSS = 'wss://domain.com/ws';
