<div class="content">
  <picture>
    <source type="image/webp" srcset="/img/webp/NotLikeThis.webp">
    <img alt="Not like this" width="242" height="292" src="/img/png/NotLikeThis.png">
  </picture>
  <h1>Wooops! Ceva nu a mers bine...</h1>
</div>
