{{#section 'pageDescription'}}
<title>Wooops! :: Siteul lu' Gennerator</title>
<meta name="description" content="Wooops! Ceva nu a mers bine. Încearcă mai târziu!" />
<meta property="og:title" content="Wooops! :: Siteul lu' Gennerator" />
<meta property="og:url" content="https://gennerator.com" />
<meta property="og:image" content="https://static.gennerator.com/android-512.png" />
<meta property="og:description" content="Wooops! Ceva nu a mers bine. Încearcă mai târziu!" />
{{/section}}

<div class="content">
  <picture>
    <source type="image/webp" srcset="https://static.gennerator.com/img/webp/NotLikeThis.webp">
    <img alt="Not like this" width="242" height="292" src="https://static.gennerator.com/img/png/NotLikeThis.png">
  </picture>
  <h1>Wooops! Ceva nu a mers bine...</h1>
</div>
