{{#section 'pageDescription'}}
<title>Filme :: Siteul lu' Gennerator</title>
<meta name="description" content="Evidență filme vizualizate, statistici și informații detaliate despre fiecare film." />
<meta property="og:title" content="Filme :: Siteul lu' Gennerator" />
<meta property="og:url" content="https://gennerator.com/filme" />
<meta property="og:image" content="https://gennerator.com/android-512.png" />
<meta property="og:description" content="Evidență filme vizualizate, statistici și informații detaliate despre fiecare film." />
{{/section}}

{{> ribbon}}
{{# if userName}}
<div class="content"></div>
{{else}}
{{> loginRequired}}
{{/if}}
