{{> ribbon}}
<div class="content">
  <picture>
    <source type="image/webp" srcset="/img/webp/Kappa.webp">
    <img alt="Kappa" width="288" height="386" src="/img/png/Kappa.png">
  </picture>
  <h1>Salutări din partea lui Gennerator!<br />Folosește meniul de sus pentru a naviga.</h1>
</div>
