{{> ribbon}}
<div class="content">
  <img alt="Kappa" class="mb2" width="288" height="386" src="/img/Kappa.webp" />
  Salutări din partea lui Gennerator!<br />Folosește meniul de sus pentru a naviga.
</div>
