{{#section 'pageDescription'}}
<title>Acasă :: Siteul lu' Gennerator</title>
<meta name="description" content="Site realizat de mine pentru a satisface nevoile mele. Copyright Gennerator." />
<meta property="og:title" content="Acasă :: Siteul lu' Gennerator" />
<meta property="og:url" content="https://gennerator.com" />
<meta property="og:image" content="https://gennerator.com/android-512.png" />
<meta property="og:description" content="Site realizat de mine pentru a satisface nevoile mele. Copyright Gennerator." />
{{/section}}

{{> ribbon}}
<div class="content">
  <picture>
    <source type="image/webp" srcset="/img/webp/Kappa.webp">
    <img alt="Kappa" width="288" height="386" src="/img/png/Kappa.png">
  </picture>
  <h1>Salutări din partea lui Gennerator!<br />Folosește meniul de sus pentru a naviga.</h1>
</div>
