{{> ribbon}}
<div class="content">
  <img alt="Kappa" width="288" height="386" src="/img/Kappa.webp" />
  <h1>Salutări din partea lui Gennerator!<br />Folosește meniul de sus pentru a naviga.</h1>
</div>
