{{#section 'pageDescription'}}
<title>Login :: Siteul lu' Gennerator</title>
<meta name="description" content="Autentificare utilizator, creare cont utilizator și recuperare credențiale." />
<meta property="og:title" content="Login :: Siteul lu' Gennerator" />
<meta property="og:url" content="https://gennerator.com/login" />
<meta property="og:image" content="https://static.gennerator.com/android-512.png" />
<meta property="og:description" content="Autentificare utilizator, creare cont utilizator și recuperare credențiale." />
{{/section}}

{{#section 'pageSpecificHeader'}}
<script nonce="{{{nonce}}}" src="https://static.gennerator.com/js/login.js" defer></script>
{{/section}}

<form id="auth" action="loginUser" method="POST" class="content">
  <h1 id="lText">Login</h1>
  <input type="text" name="username" class="login" maxlength="40" spellcheck="false" placeholder="Nume utilizator" id="username" autocomplete="username" tabindex="1" required>
  <input type="password" name="password" class="login" placeholder="Parola" id="password" autocomplete="current-password" tabindex="2" required>
  <input id="submitB" type="submit" class="submitB" value="&rtrif;">
  <div class="auth">
    <a class="auth" id="forgotPass">Ai uitat parola?</a> | <a class="auth" id="createAcc">Nu ai cont? Creează unul!</a>
  </div>
</form>
