{{#section 'pageDescription'}}
<title>Muzică :: Siteul lu' Gennerator</title>
<meta name="description" content="Player audio pentru melodiile personale, playlist-uri și organizare melodii." />
<meta property="og:title" content="Muzică :: Siteul lu' Gennerator" />
<meta property="og:url" content="https://gennerator.com/muzica" />
<meta property="og:image" content="https://static.gennerator.com/android-512.png" />
<meta property="og:description" content="Player audio pentru melodiile personale, playlist-uri și organizare melodii." />
{{/section}}

{{> ribbon}}
{{# if userName}}
<div class="content"></div>
{{else}}
{{> loginRequired}}
{{/if}}
