{{#section 'pageDescription'}}
<title>Partajare :: Siteul lu' Gennerator</title>
<meta name="description" content="Partajare privată de fișiere, încărcare și organizare fișiere personale." />
<meta property="og:title" content="Partajare :: Siteul lu' Gennerator" />
<meta property="og:url" content="https://gennerator.com/partajare" />
<meta property="og:image" content="https://static.gennerator.com/android-512.png" />
<meta property="og:description" content="Partajare privată de fișiere, încărcare și organizare fișiere personale." />
{{/section}}

{{> ribbon}}
{{# if userName}}
<div class="content"></div>
{{else}}
{{> loginRequired}}
{{/if}}
