{{#section 'pageDescription'}}
<title>YouTube Sync :: Siteul lu' Gennerator</title>
<meta name="description" content="Vizualizare conținut YouTube în grup." />
<meta property="og:title" content="YouTube Sync :: Siteul lu' Gennerator" />
<meta property="og:url" content="https://gennerator.com/sync" />
<meta property="og:image" content="https://static.gennerator.com/android-512.png" />
<meta property="og:description" content="Vizualizare conținut YouTube în grup." />
{{/section}}

{{#section 'pageSpecificHeader'}}
<link href="https://static.gennerator.com/css/sync.css" rel="preload" as="style" />
<script nonce="{{{nonce}}}" src="https://s.ytimg.com/yts/jsbin/www-widgetapi-vflrkwWjJ/www-widgetapi.js" defer></script>
<script nonce="{{{nonce}}}" src="https://static.gennerator.com/js/sync.js" defer></script>
{{/section}}

{{> ribbon}}
<div class="sync">
  <div class="video-list">
    <div class="section-label">Listă redare</div>
    <div class="videoList stretch" id="videoList"></div>
  </div>
  <div class="video-player" id="video-player">
  </div>
  <div class="video-controls">
    <div class="section-label">Panou control video</div>
    <div class="videoControls stretch">
      <div class="youtubeLink">
        Link video YouTube
        <input class="messageBox" id="youtubeLink" maxlength="120" spellcheck="false">
      </div>
    </div>
  </div>
  <div class="chat-users">
    <div class="section-label">Utilizatori conectați (<span id="userCount">1</span>)</div>
    <div class="chatUsers stretch" id="chatUsers"></div>
  </div>
  <div class="chat">
    <div class="section-label">Chat</div>
    <div class="chat-box" id="chat-box"></div>
  </div>
  <div class="chat-messageBox">
    <textarea class="messageBox" id="messageBox" placeholder="Mesajul tău..." maxlength="150"></textarea>
  </div>
</div>
