<script nonce="{{{nonce}}}" src="/js/sync.js" defer></script>
{{> ribbon}}
<div class="sync">
  <div class="video-list">
    <div class="section-label">Listă redare</div>
    <div class="stretch" id="videoList"></div>
  </div>
  <div class="video-player">
    <div class="stretch" id="player"></div>
  </div>
  <div class="video-controls">
    <div class="section-label">Panou control video</div>
  </div>
  <div class="chat-users">
    <div class="section-label" id="userListLabel">Utilizatori conectați</div>
    <div class="chatUsers stretch no-scrollbar" id="chatUsers"></div>
  </div>
  <div class="chat">
    <div class="section-label">Chat</div>
    <div class="chat-box no-scrollbar" id="chat-box"></div>
  </div>
  <div class="chat-messageBox">
    <textarea class="messageBox no-scrollbar" id="messageBox" placeholder="Mesajul tău..." maxlength="150"></textarea>
  </div>
</div>
