<div class="index err">
    <script nonce={{{nonce}}}>
        setTimeout(function() {
            window.location.href = '/';
        }, 3000);
    </script>
    <p class=inline>{{{greetingMessage}}}, domnu' <span class=bold>{{userName}}</span>!</p>
    Te trimitem pe pagina principală imediat!
</div>