@font-face {
  font-family: arial;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 1.6;
  src: local('arial');
  word-spacing: -1.95px;
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(/fonts/f1.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(/fonts/f2.woff2) format('woff2');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
}

img {
  height: auto;
  max-width: 100%;
}

input {
  color: #fff;
}

h1 {
  font-size: 2rem;
  font-weight: 200;
}

.content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 100%;
  justify-content: center;
  text-align: center;
}

.ribbon {
  background-color: #363636;
  display: flex;
  position: sticky;
  top: 0;
}

.right {
  color: #fff;
  font-size: 1.3rem;
  margin: auto 0.5rem auto auto;
}

a.right {
  font-weight: 700;
  text-decoration: none;
}

/* ============================== BUTTON ============================== */
.button {
  background: #363636;
  color: #fff;
  display: flex;
  font-weight: 700;
  height: auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  transition: background 0.5s ease-in-out;
  width: auto;
}

.button:hover {
  background: #232323;
  transition: background 0.3s ease-in-out;
}

.selected {
  background: #232323;
}

/* ============================== LOGIN ============================== */
#lText {
  margin-bottom: 1em;
}

div.auth {
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
  user-select: none;
}

a.auth {
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
}

a.auth:hover,
a.right:hover {
  text-decoration: underline;
}

a.login {
  font-size: 1.3rem;
  margin: auto 0.5rem auto auto;
  text-decoration: none;
}

input.login {
  background: #232323;
  border: 2px #363636 solid;
  border-radius: 15px;
  display: block;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1rem;
  min-height: 3rem;
  min-width: 17rem;
  outline: 0;
  padding: 0.1rem 0.5rem 0.1rem 1.5rem;
}

input.lRed {
  border-color: #d3312e;
}

input.lGreen {
  border-color: #09776c;
}

input.submitB {
  background: #363636;
  border: 0;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 700;
  height: 2em;
  margin-top: 1em;
  outline: 0;
  padding: 1rem;
  width: 2em;
}

input:hover[type='submit'] {
  background: #09776c;
}

.checkbox-label {
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
  outline: 0;
  user-select: none;
}

/* ============================== SYNC VIDEO ============================== */
.sync {
  display: grid;
  grid-template: repeat(8, minmax(0, 1fr)) / repeat(7, minmax(0, 1fr));
  height: 100%;
  margin: 0.5em;
  overflow: auto;
}

.section-label {
  background: #363636;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.3em 0 0.3em 0.5em;
}

.video-list {
  border: 2px #363636 solid;
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 9 / 2;
  margin-right: 0.5em;
}

.videoList {
  overflow: auto;
  padding-top: 0.3em;
}

.videoListVideo {
  display: flex;
  flex: 0 0 10%;
  flex-direction: row;
  margin-bottom: 0.3em;
  overflow: hidden;
  padding-left: 0.5em;
  text-overflow: ellipsis;
}

.videoThumbnail {
  cursor: pointer;
  flex: 0 0 40%;
  margin-right: 0.1em;
}

.videoInfo {
  flex: 0 0 fill;
}

.videoDelete {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

.videoName {
  cursor: pointer;
  line-height: 1.2rem;
  max-height: 3.6rem;
}

.video-player {
  background: #323232 url('/img/svg/youtube.svg') no-repeat center;
  background-size: 50%;
  grid-area: 1 / 2 / 7 / 7;
  margin-bottom: 0.5em;
}

.video-controls {
  border: 2px #363636 solid;
  display: flex;
  flex-direction: column;
  grid-area: 7 / 2 / 9 / 5;
  margin-right: 0.5em;
}

.videoControls {
  padding: 0.1rem 0.5rem 0.1rem 1rem;
}

.youtubeLink {
  color: #fff;
}

.chat-users {
  border: 2px #363636 solid;
  display: flex;
  flex-direction: column;
  grid-area: 7 / 5 / 9 / 7;
}

.chatUsers {
  overflow: auto;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
}

.chat {
  color: #fff;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 7 / 8 / 8;
  margin-left: 0.5em;
}

.chat-box {
  border: 2px #363636 solid;
  height: 100%;
  overflow: auto;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
}

.chat-messageBox {
  grid-area: 8 / 7 / 9 / 8;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.messageBox {
  background-color: #232323;
  border: 2px #363636 solid;
  border-radius: 15px;
  color: #fff;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  height: 100%;
  outline: 0;
  padding: 0.1rem 0.5rem 0.1rem 1rem;
  resize: none;
  width: 100%;
}

.message {
  padding: 0.3rem 0;
  word-break: break-all;
}

.stretch {
  height: 100%;
  width: 100%;
}

/* ============================== RESPONSIVE TOPBAR ==================== */
.ribbon .hamburger {
  cursor: pointer;
  display: none;
}

.ham {
  padding: 0.8rem;
  width: 3.188rem;
}

@media screen and (max-width: 576px) {
  .ribbon a:not(:first-child) {
    display: none;
  }

  .ribbon.responsive {
    flex-direction: column;
  }

  .ribbon.responsive a {
    display: flex;
  }

  .ribbon a:not(:first-child):hover,
  a:not(:first-child).selected {
    background-color: #09776c;
  }

  .ribbon .hamburger {
    display: flex;
  }
}

/* ============================== SNACKBAR ============================== */
#snackbar {
  align-items: center;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  user-select: none;
  visibility: hidden;
}

#snackC {
  border-radius: 2px;
  color: white;
  max-height: 80%;
  max-width: 80%;
  padding: 1.3rem;
  white-space: pre-line;
}

#snackbar.show {
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
  visibility: visible;
}

#snackC.green {
  background: #09776c;
}

#snackC.orange {
  background: #ed9c27;
}

#snackC.red {
  background: #d3312e;
}

#snackC.blue {
  background: #3098b8;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 2rem;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 2rem;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

/* ============================== MISC STUFF ============================== */
.inline {
  display: inline-block;
}

.bold {
  font-weight: 700;
}

.red {
  color: #d3312e;
}

.green {
  color: #00ff7f;
}

.blue {
  color: #1e90ff;
}

.orange {
  color: #ed9c27;
}

.purple {
  color: #8a2be2;
}

.yellow {
  color: #ffc40d;
}

.brown {
  color: #825a2c;
}

.pink {
  color: #ff69b4;
}

.teal {
  color: #00aba9;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #363636;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::selection {
  background: #09776c;
}

html {
  opacity: 1;
  overflow: auto;
  scrollbar-color: #363636 transparent;
  visibility: visible;
}
