<div class="content">
  <img alt="Forbidden" width="300" height="300" src="https://static.gennerator.com/img/svg/forbidden.svg" />
  <h1>Trebuie să te autentifici<br />pentru a vizualiza această pagină!</h1>
</div>
