<nav class="ribbon" id="myRibbon">
  <a class="hamburger" id="hamburger">
    <img alt="hamburger" class="ham" src="https://static.gennerator.com/img/svg/hamburger.svg" />
  </a>
  <a id="filme" class="button" href="filme">Filme</a>
  <a id="muzica" class="button" href="muzica">Muzică</a>
  <a id="partajare" class="button" href="partajare">Partajare</a>
  <a id="sync" class="button" href="sync">YouTube Sync</a>
  {{# if userName}}
  <span class="right">
    {{{greetingMessage}}}, <a class="right" href="logOut">{{userName}}!</a>
  </span>
  {{else}}
  <span class="right"><a class="auth login" href="login">Login</a></span>
  {{/if}}
</nav>
